@model  JobsWebSite.Models.Role

<form method="post" action="">
    <label class="userLabels" style="color:#c5eff7">Role Name</label>
    @Html.ValidationMessageFor(x=>Model.RoleName,null,new{@class="error"})
    <input type="text" value="@Model.RoleName" name="RoleName"  class="userInputs"/>
    <input type="submit" value="save" class="Login1" style="background-color:#c5eff7" />
</form>
@Html.ActionLink("Back To List", "Index", null, new { @class = "Link2" })